.hisobot-filter {
    width: 90%;
}

.title {
    font-size: 36px;
}

.select-style-hisobot {
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #787486 !important;
    border-radius: 6px !important;
    padding: 5px !important;
    background: transparent;
    cursor: pointer;
    color: #787486;
}
.filter-before::before{
    position: absolute;
    content: '';
    width: 1px;
    height: 30px;
    margin-left: -20px !important;
    margin-top: -2px;
    background: #787486;
}