.oq-button {
    background: #ECF0FF !important;
    width: 166px;
    height: 40px;
}

.yashil-button {
    background: #5030E5 !important;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    color: white!important;
}