*{
    padding: 0!important;
}
.container-fluid{
    display: flex;
}
.menyu{
    width: 17%;
    min-height: 100vh;
    position: relative;
    transition: all 0.5s ease;
}
.content{
    width: 83%;
    transition: all 0.5s ease;
}
.logo{
    height: 80px;
}
.logotip{
    margin-left: 10px;
    font-size: 30px;
    text-indent: 15px;
    display: flex;
}

.togl{
    position: absolute;
    right: 5%;
    font-size: 25px;
    color: #787486;
}