.bg-xona {
    min-height: 70vh;
    background: #F5F5F5 !important;
    border-radius: 16px 16px 0px 0px;
}

.bg-form-xona {
    background: #FFFFFF;
    border-radius: 16px;
}

.form-input-xona{
    width: 770px !important;
    height: 44px !important;
    background: #F5F5F5 !important;
    border: 1px solid #DBDBDB !important;
    border-radius: 6px !important;
}